/MyFirstGitProject.iml
/.idea/compiler.xml
/target/classes/App.class
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/jarRepositories.xml
/.idea/vcs.xml
/.idea/sonarIssues.xml
/.idea/sonarlint/issuestore/index.pb
