/MyFirstGitProject.iml
/.idea/compiler.xml
/target/classes/App.class
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/jarRepositories.xml
/.idea/vcs.xml
/.idea/sonarIssues.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/modules.xml
/target/classes/ro/itschool/dao/IgnoreMe.class
/target/classes/ro/itschool/entity/IgnoreMe.class
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_github_javafaker_javafaker_1_0_2.xml
/.idea/libraries/Maven__com_github_mifmif_generex_1_0_2.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_11_4.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
/.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
/.idea/libraries/Maven__dk_brics_automaton_automaton_1_11_8.xml
/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/.idea/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_27.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_7.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_6_5_Final.xml
/.idea/libraries/Maven__org_jboss_jandex_2_4_2_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_3_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_22.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_android_1_23.xml
